
$theme-color: #f1ad1d;

.paral {
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	height: 100%;
}
/* Images for Parallax Sections */ 
.paralsec {
	background-image: url("img/header_bg.jpg");
	min-height: 700px;
	position: relative;
}
.paralsec1 {
	background-image: url("img/bg_1.jpg");
	height: 335px;
} 
.paralsec2 {
	background-image: url("img/bg_2.jpg");
}
.paralsec3 {
	background-image: url("img/bg_3.jpg");
}
.paralsec4 {
	background-image: url("img/company_web.jpg");
}
	/* Remove Bottom Margin from Jumbotron */
.jumbotron {
	margin-bottom: 0;
}

/* Components */

.big-title{
	color:  #fff;
	font: 700 22px/22px Montserrat, sans-serif;
	margin: 50px 0;
	text-align: center;
	text-transform: uppercase;
}
.common-title{
	color:  #333;
	font: 700 22px/18px Montserrat, sans-serif;
	margin-bottom: 35px;
	text-align: center;
	text-transform: uppercase;
}
.big-title span,
.common-title span{
	color: $theme-color
}
.common-text{
	color:  #4d4943;
	font: 400 17px/24px Lato, sans-serif;
	text-align: center;
}
.separ{
	border-bottom: 3px solid $theme-color;
	margin: 52px auto;
	width: 60px;
}
.separ_white{
	border-bottom: 3px solid #fff;
	margin: 52px auto;
	width: 281px;
}
.btn{
	background-color: $theme-color;
	border-color: $theme-color;
	color:  #fff;
	font: 400 18px/18px Lato, sans-serif;
	transition: all 0.2s linear;
	width: 176px;
	height: 51px;
	&:hover{
		background-color: #333;
		color: $theme-color;
		cursor: pointer;
	}
}

.logo-carousel{
	margin-bottom: 90px;
}

.icon{
	background-color: #333;
	color: $theme-color;
	float: left;
	line-height: 32px;
	margin: 9px 9px 0 0;
	text-align: center;
	width: 32px;
	height: 32px;
	&_big{
		background-color: $theme-color;
		color: #fff;
		display: inline-block;
		line-height: 40px;
		margin-right: 16px;
		text-align: center;
		transition: all 0.2s linear;
		width: 45px;
		height: 40px;
		&:hover{
			background-color: #333;
			color: $theme-color;
			cursor: pointer;
		}
	}
}

.rect-icon{
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
	text-align: center;
	transition: all 0.2s linear;
	width: 159px;
	&:hover{
		background-color: #fff;
		color: $theme-color;
		cursor: pointer;
		text-decoration: none;
	}
}
/* Header */
.header{
	&__container{
		//padding-left: 82px;
		position: absolute;
		left: 0;
    	right: 0;
		top: 50%;
	}
	&__title {
		color: #fff;
		font: 700 48px/48px Lato, sans-serif;
		text-align: left;
		text-transform: uppercase;
	}
	&__subtitle {
		font: 300 18px/18px Lato, sans-serif;
		margin-bottom: 28px;
	}
}
.slogan {
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	font: 700 54px/109px Lato, sans-serif;
	text-align: center;
	text-transform: uppercase;
	width: 618px;
	height: 109px;
	&_cap {
		background-color: #fff;
		color:  $theme-color;
		width: 138px;
		height: 109px;
	}
	&_small{
    	display: none;
    }
}

/* Navbar */
.navbar {
	background-color: #fff;
	opacity: 0.9;
	text-transform: uppercase;
	border-bottom: 1px solid $theme-color;
}
.container .navbar-brand {
	color:  $theme-color;
	font: 400 18px/18px Lato, sans-serif;
	margin-right: 72px;
}
.nav-item .nav-link {
	font: 400 14px/14px Lato, sans-serif;
	margin-right: 20px;
}
.container .navbar-brand:hover,
.collapse .nav-item .nav-link:hover {
	color:  $theme-color;
}

/* Company Section */
.company{
   background-image: url("img/layer.png");
   padding: 120px 0;
	&__award{
		display: block;
		margin: 95px auto;
	}
	&__images{
		display: flex;
		justify-content: space-between;
    	flex-wrap: wrap;
	}
	&__img-block{		
		position: relative;
		width: 255px;
		height: 184px;
		&:hover .company__img{
			cursor: pointer;
			opacity: 0.5;
		}
		&:hover .company__img-title{
			color:  $theme-color;
			cursor: pointer;
			left: 40px;		
		}
	}
	&__img{
		border: 5px solid #fff;
		width: 255px;
		height: 184px;
	}
	&__img-title{
		background-color: #6f824f;
		bottom: 13px;
		color:  #fff;
		font: 400 14px/42px Lato, sans-serif;
		left: 13px;
		padding-left: 14px;
		position: absolute;
		transition: left .2s linear;
		width: 117px;
		height: 42px;
	}
	&__block{
		margin-bottom: 50px;
		padding-left: 30px;
		display: none;
	}
	&__block-title{
		font: 700 18px/18px Montserrat, sans-serif;
		color:  #333;
		text-align: left;
		text-transform: uppercase;
	}
	&__block-title span{
		color: $theme-color;
	}
	&__block-text{
		color:  #505050;
		font: 300 14px/22px Lato, sans-serif;
	}
}
#block1{
	display: block;
}
/* Team Section */
.team{
	background-image: url("img/layer.png");
	padding: 120px 0;
	&__block{
		margin: 0 auto 132px auto;
	}
	&__img-item{
		display: block;
		position: relative;
		width: 175px;
		height: 175px;
		&:hover .team__img{
			cursor: pointer;
			filter: grayscale(100%);
		}
		&:hover .team__img-title{
			background-color: gray;
			color: #333;
			cursor: pointer;
		}
	}
	&__img-title{
		background-color: #6f824f;
		bottom: 6%;
		color: #fff;
		font: 400 14px/34px Lato, sans-serif;
		left: 6%;
		position: absolute;
		text-align: center;
		width: 113px;
		height: 34px;
	}
	&__img-title span{
		color: $theme-color;
	}
	&__img{
		border: 5px solid #fff;
		width: 175px;
		height: 175px;
		&_overlay{
			display: block;
			margin: 0 auto 15px auto;
		}
	}	
	&__overlay{
		display: none;
		margin: 0 auto;
		position: relative;
	}
	&__close-btn{
		position: absolute;
		right: 0;
		top: 0;
		&:hover{
			cursor: pointer;
		}
	}
	&__title{
		color: #333;
		font: 400 18px/24px Lato, sans-serif;
		margin: 0 auto 20px auto;
		text-align: center;
	}
	&__text{
		font-size: 12px;
	}
	&__icon{
		background-color: #fff;
		border: 1px solid #333;
		color: #333;
	}
}
/* Offer-Block */
.offer{
	border-bottom: 3px solid #333;
	margin: 10px;
	&__title{
		background-color:  #333;
		color: #fff;
		font: 700 18px/56px Montserrat, sans-serif;
		text-align: center;
	}
	&__title span{
		color: $theme-color;
	}
	&__icon{
		color: #505050;
		display: block;   
		font-size: 34px;
		padding: 20px 0;
		text-align: center;
	}
	&__text{
		color:  #505050;
		font: 300 14px/14px Lato, sans-serif;
		text-align: center;
	}
	&__subtitle{
		color:  #505050;
		font: 400 18px/18px Lato, sans-serif;
		text-align: center;
	}
	&__list{
		list-style: none;
		padding: 0;
	}
}
/* Featured__logo-block */
.featured__logo-block{
	width: 80%;
}


/* Portfolio-Section */
.portfolio{
	background-image: url("img/layer.png");
	padding: 120px 0;
}
.tile{
	margin-bottom: 75px;
	&__nav{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}
	&__filter{
		border: 1px solid #505050;
		color: #505050;
		font: 400 17px/17px Lato, sans-serif;
		height: 38px;
		padding: 10px 40px;
		text-align: center;
		transition: all 0.2s linear;		
		&:hover{
			background-color: #505050;
			color: $theme-color;
			cursor: pointer;
		}
	}
	&__images{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px auto;
	}
	&__item{
		margin-bottom: 5px;
		position: relative;
		&:hover{
			cursor: pointer;
		}	
		&:hover .tile__img{
			opacity: 0;
		}
		&:hover .tile__overlay{
			opacity: 1;
		}
	}
	&__img{
		opacity: 1;
		width: 271px;
		height: 271px;	
	}
	&__overlay{
		background-color: #fff;
		border: 2px solid #333;
		opacity: 0;
		padding: 20px 15px;
		position: absolute;
		top: 0;
		transition: all 0.7s ease-out;
		width: 271px;
		height: 271px;
	}
	&__overlay_block{
		background-color: #fff;
		border: 2px solid #333;
		display: none;
		margin: 0 auto;
		padding: 20px 15px;
		width: 271px;
		height: 271px;
	}
	&__title{
		color:  #5b5b5b;
		font: 300 18px/20px Lato, sans-serif;
		margin: 20px 0;
		text-align: center;
	}
	&__text{
		font-size: 14px;
	}
	&__separ{
		margin: 10px auto;
	}
	&__btn{
		display: block;
		margin: 0 auto;	
	}
}
.active{
	background-color: #505050;
	color: $theme-color;
}
.testimonials{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item{
		margin-bottom: 50px;
	}
	&__cap .fa{
	    background-color: #fff;
	    color: $theme-color;
	    float: left;
	    font-size: 60px;
	    padding-right: 10px;
	}
	&__line{
		border-bottom: 3px solid $theme-color;
		padding: 15px 0;
	}
	&__text{
		border-bottom: 3px solid #111;
		color:  #5b5b5b;
		clear: both;
		font: 300 14px/20px Lato, sans-serif;
		padding: 19px 0 29px 0;
	}
	&__photo{
		margin: 15px 15px 0 0;
		width: 50px;
		height: 50px;
	}
	&__info{
		padding-top: 30px;
	}
	&__name{
		color: #313131;
		font: 400 14px/14px Lato, sans-serif;
	}
	&__function{
		color:  #5b5b5b;
		font: 300 14px/14px Lato, sans-serif;
	}
}
/* Blog Section */
.blog{
	background-image: url("img/layer.png");
	padding: 120px 0;
}
.post{
	border-bottom: 3px solid #333;
	padding-bottom: 11px;
	margin-bottom: 32px;
	width: 357px;
	&__content{
		width: 357px;
		height: 181px;
		&_quote{
			background-color: #DDDDDD;
			color: #636363;
			font: 300 44px/44px Tangerine, serif;
			padding: 20px;
		}
		&_author{
			color: #636363;
			float: left;
			font: 300 14px/18px Lato, sans-serif;		
    		margin-top: 20px;
		}
	}
	&__img{
		width: 347px;
		height: 172px;
	}
	&__icon{
		color: #9E9E9E;
		float: left;
		font-size: 52px;
    	line-height: 0px;
    	text-align: right;
		width: 97%;
	}
	&__title{
		color:  #333;
		font: 700 18px/51px Montserrat, sans-serif;
		transition: all 0.2s linear;
		&:hover{
			color: $theme-color;
			cursor: pointer;
		}
	}
	&__text{
		border-bottom: 1px solid #c1c1c1;
		clear: both;
		color:  #505050;
		font: 300 14px/18px Lato, sans-serif;
		margin-bottom: 16px;
		padding-bottom: 14px;
	}
	&__date,
	&__more-btn{
		color:  #828282;
		font: 300 12px/18px Lato, sans-serif;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}
	&__date{
		float: left;
	}
	&__more-btn{
		&:hover{
			color: $theme-color;
			cursor: pointer;
		}
	}
}
/* Contact Section */
.contact{
	background-image: url("img/layer.png");
	padding: 120px 0;
	&__title{
		font-size: 18px;
		text-align: left;
	}
	&__name{
		margin-right: 10px;
	}
	&__name,
	&__email,
	&__message{
		background-color:  #fff;
		border: 1px solid #929292;
		color:  #505050;
		font: italic 300 14px/12px Lato, sans-serif;
		margin-bottom: 10px;
		outline: none;
		padding: 19px 13px;
		height: 45px;
	}
	&__message{
		height: 186px;
 
	}
	&__text{
		align-self: flex-end;
		font: 300 14px/45px Lato, sans-serif;
	}
	&__btn{
		float: left;
		margin: 0 15px 30px 0;
		width: 118px;
		height: 43px;
	}
}
.form-control{
	height: 51px;
	margin-bottom: 105px;
	outline: none;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* Footer */
.footer{
	background-color: #303030;
	&__container{
		padding-bottom: 53px;
		padding-top: 27px;
	}
	&__text{
		color:  #fff;
		font: 300 14px/18px Lato, sans-serif;
		margin: 54px auto;
		text-align: center;
	}
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	.slogan{
		display: none;
	}
	.company__images,
	.tile__nav,
	.tile__images{
		display: none;		
	}
	.company__block,
	.tile__overlay_block{
		display: block;
	}
	.post{
		width: 307px;
		&__content{
			width: 307px;
			//height: 181px;
		}
		&__img{
			width: 307px;
			//height: 172px;
		}
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
	.slogan{
		font-size: 38px;
		height: 89px;
		line-height: 89px;
		&_big{
			display: none;
		}
		&_small{
			display: block;
		}
	}
	.company__images,
	.tile__nav,
	.tile__images{
		display: none;		
	}
	.company__block,
	.tile__overlay_block{
		display: block;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
	.slogan{
		font-size: 38px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
	.slogan{
		font-size: 48px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) and (max-width: 1599.98px)*/

/*@media (min-width: 1601px) */


